$main-color:rgb(136, 15, 15);
$darkest-color:rgba(255, 254, 254, 0.87);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: $main-color;
    color:$darkest-color;
}